html{
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.menu {
  z-index: 999;
    position: absolute;
    display: inline;
    top: 25px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
  }
  
  .menu a {
    font-family: 'Righteous', cursive;
    letter-spacing: 1px;
    color:  #000000;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 120px;
    height: 25px;
    padding-top: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-style: double;
    border-color:  #DA216F;;
    background-color: #fbe148;
    margin-left:10px;
    margin-right: 10px;
    text-align: center;
  }
  
  .menu a:hover {
    color: #DA216F;;
  
  }

  #userText{
    align-self: center;
    z-index: 900;
    position:absolute;
    bottom: 45px;
    color: #DA216F;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 4px 4px 5px rgb(255, 255, 255);
  }

  .modal {
    z-index: 999;
    background-color: #fae97f;
    margin: auto;
    top: 15%;
    padding: 20px;
    padding-top: 2px;
    border: 3px solid #111;
    border-radius: 4px;
    width: 40%;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Amaranth', sans-serif;
}
    
.close {
color: #000000;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #f619ac;
text-decoration: none;
cursor: pointer;
}

#pacmanGif{
  z-index: 999;
  display: inline;
  position: fixed;
  height: 120px;
  position: fixed;
  left:1%;
  bottom: -45px;
}

footer{
    position: fixed;
    padding-top: 5px ;
    padding-bottom: 5px;
    left: 0%;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #f2a8d4;
    font-size: 18px;
    height: 20px;
  }

  .contact{
    font-family: 'Lobster Two', cursive;
    font-size: 16px;
    position: relative;

  }