html{
    background-image: url(../images/background3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
#pacmanLogo{
    z-index: 999;
    display: inline;
    position: fixed;
    height: 200px;
    position: fixed;
    left:1%;
    bottom: -75px;
}

.menu {
    position: absolute;
    display: inline;
    top: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
  }
  
  .menu a {
    font-family: 'Righteous', cursive;
    letter-spacing: 1px;
    color:  #000000;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 120px;
    height: 35px;
    padding-top: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-style: double;
    border-color:  #e00f8c;
    background-color: #fbe148;
    margin-left:10px;
    margin-right: 10px;
    text-align: center;
  }
  
  .menu a:hover {
    color: #e00f8c;
  
  }
  
  .menu .dot {
    width: 6px;
    height: 6px;
    background: #e00f8c;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .menu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .menu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .menu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(435px);
    transform: translateX(435px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .menu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(260px);
    transform: translateX(260px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }

  .menu a:nth-child(5):hover ~ .dot {
    -webkit-transform: translateX(435px);
    transform: translateX(435px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  .menu a:nth-child(6):hover ~ .dot {
    -webkit-transform: translateX(610px);
    transform: translateX(610px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }


#logo {
    position: absolute;
    right: 20px;
    width: 250px;
    height: 100px;
}

footer{
    position: fixed;
    left: 0%;
    bottom: 0px;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #f2a8d4;
    font-size: 18px;
    height: 50px;
  }

  .contact{
    font-family: 'Lobster Two', cursive;
  }
